<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="header">
<head>
    <meta charset="UTF-8">
    <meata name="viewpoint" content=""width="device-width,initial-scale=1,shrink-to-fit=no"></meata>
    <link href="../../css/tether.scss" th:href="@{/css/tether.scss}" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
    <link href="../../css/nprogress.css" th:href="@{/css/nprogress.css}" rel="stylesheet">
    <link href="../../css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet">
    <link href="../../css/jquery.tagsinput.css" th:href="@{/css/bootstrap-tagsinput.css}" rel="stylesheet">
    <link href="../../css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">
    <link href="../../css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet">
    <link href="../../css/cropbox.css" th:href="@{/css/cropbox.css}" rel="stylesheet">
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">
    <link href="../../css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}" rel="stylesheet">
</head>
<body>
<div>
    <h1 class="text-center">Bootstrap</h1>
    <a href="/users" class="btn btn-default"th:href="@{~/users}">返回首页</a>
</div>
<nav class="navbar navbar-inverse bg-info navbar-toggleable-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsContainer">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" th:href="@{~/}">
            Gigger
        </a>
        <div id="navbarsContainer" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/users" th:href="@{~/users}" class="nav-link">首页<span class="sr-only"></span></a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()" class="row">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nav-link" sec:authentication="name"></span>
                    </li>
                </ul>
                <form action="/logout" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success" type="submit" value="退出">
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" th:href="@{~/login}" class="btn btn-outline-success my-2 my-sm-0" type="submit">登录</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>